h2 {
    margin-bottom: 1.25rem;
  }

  .meal-form {
    margin-top: 2.5rem;
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 19.375rem;
    height: 17.5rem;
  }

  .meal-input {
    margin-bottom: 1.25rem;
  }
  
  .meal-input label {
    margin-right:  0.625rem;
  }
  
  
  .meal-input input {
    padding: 0.5rem;
    margin-left: 0.936rem;
    border-radius: 0.25rem ;
    border:  1px solid black ;
  }
  
  .meal-input .lunch {
    margin-right: 29px;
  }
  
  .meal-input .dinner {
    margin-right: 1.813rem;
  }
  
  .submit-button {
    padding: 0.625rem 1.25rem;
    margin-top: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #037c6e;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color: #28a99e;
  }

/*  media query for mobile screen size */
@media only screen and (max-width: 600px) {

.list-days {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.list-days .day:nth-child(7) {
  grid-column: 1 / span 2; 
  justify-self: center; 
}

.day {
  margin: 0.325rem 0.425rem 0.3rem 0.425rem;
  padding: 0.4rem;
  background-color: #c05508de;
  border: 0.125rem solid;
  border-radius: 0.25rem;
  width: 7.375rem;
  text-align: center;
  font-size: 1.125rem;
  color: white;
}

 .meal-form {
    margin-top: 1rem;
    background-color: white;
    padding: 1rem 1.25rem 1rem 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 18rem;
    height: 15rem;
  }

  h2 {
  
    margin-top: 0.5rem;
    
  }
  .submit-button {
    padding: 0.625rem 1.25rem;
    margin-top: -0.3rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #037c6e;
    color: white;
    border: none;
    border-radius: 5px;
    width: 9rem;
  }

}
