.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/*  media query for mobile screen size */
@media only screen and (max-width: 600px) {
  .App {
    min-height: 100vh; 
    height: 100vh; 
    overflow-y: auto; 
   
  }
  }
  




