.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./image/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

h1 {
  color: #CC5500;
  text-align: left;
  
}

h2 {
  
  margin-bottom: 1.25rem;
  
}


.toggle-button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #28a99e;
  color: white;
  border: none;
  border-radius: 0.313rem;
  margin-bottom: 1.25rem;
}

.toggle-button:hover {
  background-color: #037c6e;
}

.days-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}


.day {
  margin: 0.625rem 0.625rem;
  padding: 0.625rem;
  background-color: #c05508de;
  border: 0.125rem solid;
  border-radius: 0.25rem;
  width: 9.375rem;
  text-align: center;
  font-size: 1.125rem;
  color: white;
}
.meal-form {
  margin-top: 2.5rem;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: 19.375rem;
  height: 17.5rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
